# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable atom-zoi': 'atom-zoi:insert'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'atom-zoi'
      'submenu': [
        { 'label': 'Insert', 'command': 'atom-zoi:insert' }
      ]
    ]
  }
]
